<a href="https://colab.research.google.com/github/Mrkomiljon/google-colab-/blob/main/first_nb1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("salom, Komiljon")

salom, Komiljon

#Heading

-[Kirish](mohirdev.uz)


-Muqaddima

In [2]:
import numpy as np
import pandas as pd
import sklearn 
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [3]:
tf.__version__

'2.6.0'

In [2]:
import torch
torch.cuda.is_available()

True

In [1]:
!ls

sample_data

In [2]:
import pandas as pd
df= pd.read_csv('data/churn.csv')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]